/* Arthi's*/
*{
    background-color: #282828;
    color: white;
    font-family: "Circular Spotify Text";
}

.section{
    margin-top: 20%;
    margin-bottom: 20%;
}

.wave{
    width: 100%;
    height: 128px;
}

.hero-img{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.half-img{
    width: 100%
}

.center{
    text-align: center;
}

.body-text{
    font-weight:lighter;
    font-size: 24px;
}

.main-question{
    margin-top: 5%;
    font-weight: bold;
    font-size: 40px;
}


.card-title{
    font-size: 2.5vw;
    margin: 1vh 1vw;
    font-weight: 500;
    background-color: revert;
}

.audio-card{
    width: 100%;
    height: 25vmin;
    max-height: 250px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.audio-card.hide{
    animation: fadeOut;
    animation-duration: 1s;
}

.audio-card:hover{
    filter: brightness(110%) contrast(80%);
    animation: pulse;
    animation-duration: 1s;
}

.icon-card{
    width: 10vw;
    height: 65%;
    position: relative;
    top: 15%;
    left: 17.5vw;
    rotate: 15deg;
    border-radius: 8px;
    background-color: rgb(0,0,0,0.3);
}

.icon{
    width: 75%;
    rotate: -15deg;
    position: relative;
    top: 7%;
    left: 8%;
    background-color: revert;
}

.icon:hover{
    max-width: 90%;
}

.feature-description{
    font-size: 1.25vw;
    font-weight: lighter;
    margin: 1vh 1vw;
    margin-left: 40px;
    background: revert;
}

.long-feature-card{
    display: flex;
    justify-content: space-between;
}

.audio-card-transition{
    pointer-events: none;
    animation: info-card-transition normal forwards ease-in-out;
    animation-duration: 0.5s;
}

.audio-scale-text{
    font-size: 2vw;
}

.scale-down{
    max-width: 85%;
}

#go-back:hover{
    font-weight: bold;
    cursor:pointer;
}

#audio-info{
    margin-top: 14px;
    margin-bottom: 14px;
}

.audio-embed{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*  */

/*Abhishek's
*/
.data-parent {
    position: relative;
}

.data-viz {
    position: absolute;
    top: 0;
}
/*  */

/* Animations */
@keyframes info-card-transition {
    0%{
        transform-origin: top left;
        width: 100%;
        height: 100%;
     }
     50% {
       transform-origin: top left;
       width: 0%;
       height: 0%;
     }
     /* 75%{
       transform-origin: top left;
       width: 0%;
       height: 50%;
     } */
     100%{
       transform-origin: top left;
       width: 330%;
       height: 100%;
     }
}