{% extends 'base.html' %}

{% block information %}
<div id="title" class="section" style="margin-top: 0px;">
    <img src="../static/images/title-img.png" class="hero-img"/>
    <p class="body-text center">By Arthi, Rachel, Abhishek, and Elaine</p>
</div>

<div class="row section" id="intro">
 <div class="col-1"></div>
 <div class="col-6 align-self-center">
    <div class="body-text">
        <div>
            Spotify is the largest platform for music streaming on the internet. 
            It's that platform that connects everyone around the globe to the hops 
            and bops of different cultures.
        </div>
        <div style="margin-top: 3%">But have you ever wondered....</div>
        <div class="main-question">Is there a trend to the hits at the top of the charts? </div>
        <div class="main-question">Is there perfect audio formula that makes  a top hit?</div>
    </div>
 </div>
 <div class="col-4">
    <img src="../static/images/spotify-img.png" class="half-img"/>
 </div>
</div>

<div class="section" id="audio-features-intro">
    <div class="row" style="margin-bottom: 2%">
        <div class="col-1"></div>
        <div class="col-11 body-text">
            <div>Let's get some background first.</div>
            <div class="main-question" style="margin-top: 0;">What are the components of audio?</div>
            <div id="action-text">Click to explore each category</div>
            <div id="go-back">< Go Back</div>
        </div>
    </div>
    <div class="container-fluid scale-down">
        <div class="grid gap-5" id="feature-grid"></div>
    </div>
    <div id="audio-info" class="container-fluid scale-down">
    </div>
</div>

{% endblock %}

{% block exploration %}
<div class="data-visualization">
    <div class="exploration-section" id="music-lines">
        <div class = "row popup">
            <div class = 'col-7 popup-left'>
            <div class = "row song-artist-popup">
                <div class = "col-4 song-artist-image-popup">
                    <img id = 'popup-image' src = "https://i.scdn.co/image/ab67616d0000b2737f39354389a634ea4a2fb62b">
                </div>
                <div class = "col-5 song-artist-column-popup">
                    <div class = "row song-name-popup">
                        Rock On
                    </div>
                    <div class = "row artist-name-popup">
                        David Essex
                    </div>
                </div>
            </div>
        
            <div class = "popup-text">
                This upwards shift in speechiness and liveness can largely be attributed to the significant track "Rock On" by David Essex, which not only reached a high rank of 5 but also maintained its presence on the charts for 25 weeks in 1974. Its innovative use of reverb and echo marked a key transition between genres, from rock'n'roll to the more stripped-down aesthetics of punk and new wave, while also influencing the growing glam rock scene with its atmospheric depth and style-focused execution.
            </div>
            </div>
            <!-- <div class="col-1"></div> -->
            <div class="col-5">
                <canvas id="radarChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6 body-text">
            <!-- TODO: Change this section with @Elaine's Decade Data -->
                <div class="main-question" style="margin-top: 0;">70's Disco</div>
                <div class="decade-description">
                    The 1970s witnessed a dynamic musical scene with disco dominating dance floors, 
                    rock bands delivering anthems, and singer-songwriters creating introspective classics. The era was defined 
                    by experimentation and fusion, shaping the evolution of music for years to come.
                </div>
            </div>
            <div class="col-4">
                <div class="top-song">HIT SONG OF THE 70S</div>
                <iframe class="audio-embed" src="https://open.spotify.com/embed/track/1LYNuVLtV374Iy7vlHy6BO?utm_source=generator=theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="graph-row">
        <div class="data-parent" style="height:1200vh">
            <div id="data-viz"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block interactive %}


<div class="engineer-section" id="engineer-intro">

    <div class="row section" id="intro">
        <div class="col-1"></div>
        <div class="col-6 align-self-center">
           <div class="body-text">
            <div>So, there a trend to the hits at the top of the charts? </div>
            <div class="main-question">Nope! Everyone has different tastes.</div>
            <div style="margin-top: 3%">There's more factors than just audio features that determine a top song. So,
                get creative and listen or make music that you like! </div>
           </div>
        </div>
        <div class="col-4">
           <img src="../static/images/music-genres.png" class="half-img"/>
        </div>
       </div>

    <div class="row" style="margin-bottom: 2%">
        <div class="col-1"></div>
        <div class="col-11 body-text">
            <div class="main-question" style="margin-top: 0;">Engineer a Song!</div>
            <div id="action-text">See how your taste in music compares to top hits on the billboard</div>
        </div>
    </div>
</div>

<div class="body">
    <script src="../static/create.js"></script>

    <div class = "wrapper">
        <div class = "deck">
            <div class = "circleElement">
                <div class = "label">INSTRUMENTALNESS</div>
                <div class="circle" id="instrumentalness">
                    <div class="tick"></div>
                </div>
            <div class = "number" id="instrumentalnessValue">0</div>
        </div>
    
        <div class = "column">
            <div class = "wrapperSmall">
    
                <div class = "circleElement">
                    <div class = "label">SPEECHINESS</div>
                    <div class="circleSmall" id="speechiness">
                        <div class="tickSmall"></div>
                    </div>
                    <div class = "number" id="speechinessValue">0</div>
                </div>
    
                <div class = "circleElement">
                    <div class = "label">ACOUSTICNESS</div>
                    <div class="circleSmall" id="acousticness">
                        <div class="tickSmall"></div>
                    </div>
                    <div class = "number" id="acousticnessValue">0</div>
                </div>
        </div>
    
        <div class = "wrapperSmall">
    
            <div class="circleElement" style = "margin-top: 90px;">
                <div class = "label" style = "margin-bottom: 90px;">LIVENESS</div>
                <input type="range" min="0" max="100" value="50" class="slider" id="liveness">
                <div class="number" id="livenessValue" style = "margin-top: 90px;">50</div>
            </div>
    
            <div class="circleElement" style = "margin-top: 90px;">
                <div class = "label" style = "margin-bottom: 90px;">DANCEABILITY</div>
                <input type="range" min="0" max="100" value="50" class="slider" id="danceability">
                <div class="number" id="danceabilityValue" style = "margin-top: 90px;">50</div>
            </div>
    
        </div>
    
        </div>
    
        <div class = "circleElement">
            <div class = "label">ENERGY</div>
            <div class="circle" id="energy">
                <div class="tick"></div>
            </div>
            <div class = "number" id="energyValue">0</div>
        </div>
    
    </div>

    <div class = "button">
        <input type = "submit" id = "button" value = "Show similar songs">
    </div>

    
    <div class = "gap"></div>
    
    <div class = "results-wrapper">
    
        <div class="timeline" id="timeline" style="display: block;">
            <div class = "dots" id = "dots"></div>
        </div>

        <div id = "songList"></div>

        <canvas id="bellCurveChart" width="400" height="200"></canvas>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}